* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: rgb(72, 72, 248);
  color: azure;
}
.title {
  font-size: 1rem;
}
.center ul li {
  list-style: none;
  display: inline-flex;
  margin-left: 20px;
  margin-right: 20px;
}
.left {
  flex: 4;
}
.center {
  flex: 4;
}
.search {
  flex: 2;
}
.right {
  flex: 4;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.bannerimg {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menImages {
  display: flex;
  justify-content: space-evenly;
}
.menimg {
  width: 230px;
  height: 230px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search input {
  padding: 10px;
  width: 20rem;
}
